:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.uma-icon-wrapper {
  width: 100px;
  height: 100px;
  position: relative;
}

.uma-property {
  padding-left: 5%;
}

.uma-property .row {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
}

.parameter-column-U {
  color: mediumpurple;
}
.rank-S, .parameter-column-SS, .parameter-column-S {
  color: gold;
}
.rank-A, .parameter-column-A {
  color: magenta;
}
.rank-B, .parameter-column-B {
  color: red;
}
.rank-C, .parameter-column-C {
  color: green;
}
.rank-D, .parameter-column-D {
  color: aqua;
}
.rank-E, .parameter-column-E {
  color: purple;
}
.rank-F, .parameter-column-F {
  color: blue;
}
.rank-G, .parameter-column-G {
  color: gray;
}

.uma-row .uma-column {
  display:inline-block;
  text-align: center;
  width: 25px;
  border-right: solid 1px;
  font-size: larger;
}

.uma-row .uma-long-column {
  display:inline-block;
  text-align: left;
  width: 500px;
}

.uma-row .uma-column.icon-wrapper {
  width: 29px;
  height: 29px;
  border: solid 2px transparent;
  position: relative;
}

.dynamic-search-input {
  margin: 20px;
}

.uma-row .uma-column.icon-wrapper.gold-lined {
  border: solid 2px gold;
}

.dynamic-table {
  margin-left: 20px;
}

footer {
  margin: 30px;
  text-align: center;
}

.red-factor-input {
  width: 245px;
  background-color: coral;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 10px;
}

.red-factor-input select{
  margin-left: 10px;
  width: 60px;
}

.red-factor-input .star-bar-wrapper {
  text-align: right;
  padding-left: 0px;
  width: 150px;
}

.red-factor-input .star-bar-wrapper .star-bar {
  text-align: right;
  padding-left: 0px;
  width: 165px;
}

.three-stars {
  text-align: justify;
  width: 150px;
}

.three-stars .star {
  display: inline-block;
  width: 15px;
  margin: 0px;
  color: gold;
  text-align: center;
}

.star-value {
  width: 70px;
  text-align: center;
  display: inline-block;
}

.red-factor-input-wrapper {
  display: flex;
  margin-bottom: 10px;
}

button {
  border-radius: 10px;
  font-size: large;
  padding: 5px;
}

.skill-row {
  margin: 5px;
  border-radius: 10px;
}

.skill-row .skill-column.icon-wrapper {
  width: 29px;
  height: 29px;
  border: solid 2px transparent;
  position: relative;
}

.skill-row .skill-column {
  display:inline-block;
  text-align: center;
  width: 25px;
  border-right: solid 1px;
  font-size: larger;
}

.skill-column.skill-column-long {
  display:inline-block;
  text-align: left;
  width: 300px;
}

.skill-row-in-normal {
  background-color: gray;
}

.skill-row-in-gold {
  background-color: gold;
}

.skill-row-in-red {
  background-color: magenta;
}

.skill-row-in-iridescent {
  background-color: magenta;
}

.hof {
  display: inline-grid;
  margin: 10px;
}

.hof .factor {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
}

.hof .red-factor, .hof-row .red-factor {
  background-color: salmon;
}

.hof .blue-factor, .hof-row .blue-factor  {
  background-color: skyblue;
}

.hof .green-factor, .hof-row .green-factor  {
  background-color: greenyellow;
}

.hof .white-factor {
  background-color: gray;
  width: 50%
}

.hof .star, .hof-row .star {
  color: gold;
  text-shadow: 1px 1px 5px black;
}

.hof .factor-table {
  margin: 20px;
  display: flex;
  width: 750px;
}

.hof .factor-table .left-column{
  width: 20%;
}

.hof .factor-table .right-column{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.hof .title {
  font-size: large;
}

.hof .date {
  font-size: large;
}

.hof .point {
  font-size: large;
}

.hof .hof-head {
  display: flex;
}

.hof .hof-content-wrapper {
  margin-left: 10px;
}

.parameter-table {
  margin: 20px;
  text-align: center;
}

.parameter-table .row {
  display: flex;
} 

.parameter-table .column {
  border: solid gray 2px;
  width: 75px;
} 

.parameter-value {
  font-weight: bolder;
  text-shadow: 0px 0 5px gray;
  background-color: black;
}

.hof-row {
  display:flex;
}

.hof-row a .uma-icon-wrapper {
  display:inline-block;
  width: 49px;
  height: 49px;
  border: solid 2px transparent;
  position: relative;
}

.hof-row .hof-column {
  display:inline-block;
  text-align: center;
  width: 25px;
  border-right: solid 1px;
  font-size: larger;
}

.hof-row .factor {
  font-size: smaller;
  width: 120px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

.parent {
  margin: 10px;
  flex-wrap: wrap;
}
.parent .white-factor {
  font-size: smaller;
  width: 120px;
  height: 80px;
  padding: 10px;
  border-radius: 5px;
}

.parent .white-factor-table {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.tiny-factor{
  display: flex;
  margin-left: 5px;
  font-size: small;
}

.hof-row {
  margin-left: 15px;
}

.hof-row .tiny-factor .factor {
  font-size: smaller;
  width: 100px;
  height: 20px;
  padding: 2px;
  border-radius: 5px;
}

.hof-row .second-column {
  width: 85px;
  margin-left: 5px;
}
.hof-row .second-column .point-rank {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hof-register-form .dual {
  display: flex;
}
.hof-register-form .left-side {
  width: 50%;
}
.hof-register-form .right-side {
  width: 50%;
}
.hof-register-form .skill-id {
  font-size: small;
  width: 200px;
}
.check-object-pair {
  display: flex;
}
.check-object-pair option{
  color: gold;
}
.component-skill-list {
  margin: 10px;
}
.hof-register-form input {
  margin-left: 10px;
}
.historic-uma-icon-selector {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.historic-uma-icon-selector .uma-icon-wrapper .uma-icon {
  border: solid black 4px;
}
.historic-uma-icon-selector .uma-icon-wrapper .uma-icon:hover {
  opacity: 50%;
}
.historic-uma-icon-selector .uma-icon-wrapper.selected .uma-icon {
  border: solid violet 4px;
  opacity: 50%;
}

.factor-selector {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.factor-selector.red-factor-selector  {
  background-color: salmon;
}

.factor-selector.blue-factor-selector  {
  background-color: skyblue;
}

.factor-selector.green-factor-selector  {
  background-color: greenyellow;
}

.parameter-input {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}

.parameter-input .input-row label {
  margin-top: 5px;
  height: 20px;
  display: block
}

.parameter-input .input-row input {
  margin-top: 5px;
  height: 20px;
  display: block;
  border-radius: 5px;
  width: 50px;
}

.hof-additional-input {
  display: block;
  margin-left: 10px;
}

.hof-additional-input input{
  margin-right: 20px;
}
.hof-additional-input select{
  margin-right: 20px;
  border-radius: 5px;
}

.hof-register-form .textarea-wrapper {
  margin-top: 30px;
  margin-left: 10px;
}

.component-race-list, .component-scenario-factor-list {
  width: 50%;
}

.double-factor-list-wrapper {
  display: flex;
}

.bottom-button-wrapper {
  margin-top: 50px;
  text-align: center;
  display: block;
  width: 100%;
}

.property-input {
  display: block;
  margin: 30px;
  border: solid gray 5px;
  border-radius: 10px;
  padding: 5px;
  width: 450px;
}
.property-input select {
  border-radius: 5px;
  margin-right: 10px;
}
.property-input-row {
  display: flex;
  margin-top: 10px;
}

.hof-register-form .caution {
  margin-top: 10px;
  color: chocolate;
  font-size: larger;
  text-align: center;
  background-color: gray;
  padding: 10px;
}