:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.uma-icon-wrapper {
  width: 100px;
  height: 100px;
  position: relative;
}

.uma-property {
  padding-left: 5%;
}

.uma-property .row {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
}

.rank-S {
  color: gold;
}
.rank-A {
  color: magenta;
}
.rank-B {
  color: red;
}
.rank-C {
  color: green;
}
.rank-D {
  color: aqua;
}
.rank-E {
  color: purple;
}
.rank-F {
  color: blue;
}
.rank-G {
  color: gray;
}

.uma-row .uma-column {
  display:inline-block;
  text-align: center;
  width: 25px;
  border-right: solid 1px;
  font-size: larger;
}

.uma-row .uma-long-column {
  display:inline-block;
  text-align: left;
  width: 500px;
}

.uma-row .uma-column.icon-wrapper {
  width: 29px;
  height: 29px;
  border: solid 2px transparent;
  position: relative;
}

.dynamic-search-input {
  margin: 20px;
}

.uma-row .uma-column.icon-wrapper.gold-lined {
  border: solid 2px gold;
}

.dynamic-table {
  margin-left: 20px;
}

footer {
  margin: 30px;
  text-align: center;
}

.red-factor-input {
  width: 245px;
  background-color: coral;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 10px;
}

.red-factor-input select{
  margin-left: 10px;
  width: 60px;
}

.red-factor-input .star-bar-wrapper {
  text-align: right;
  padding-left: 0px;
  width: 150px;
}

.red-factor-input .star-bar-wrapper .star-bar {
  text-align: right;
  padding-left: 0px;
  width: 165px;
}

.three-stars {
  text-align: justify;
  width: 150px;
}

.three-stars .star {
  display: inline-block;
  width: 15px;
  margin: 0px;
  color: gold;
  text-align: center;
}

.star-value {
  width: 70px;
  text-align: center;
  display: inline-block;
}

.red-factor-input-wrapper {
  display: flex;
  margin-bottom: 10px;
}

button {
  border-radius: 10px;
  font-size: large;
  padding: 5px;
}

.skill-row {
  margin: 5px;
  border-radius: 10px;
}

.skill-row .skill-column.icon-wrapper {
  width: 29px;
  height: 29px;
  border: solid 2px transparent;
  position: relative;
}

.skill-row .skill-column {
  display:inline-block;
  text-align: center;
  width: 25px;
  border-right: solid 1px;
  font-size: larger;
}

.skill-column.skill-column-long {
  display:inline-block;
  text-align: left;
  width: 300px;
}

.skill-row-in-normal {
  background-color: gray;
}

.skill-row-in-gold {
  background-color: gold;
}

.skill-row-in-red {
  background-color: magenta;
}

.skill-row-in-iridescent {
  background-color: magenta;
}
